@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import "./App";
@import "../components/Game/Game";
@import "../components/Preparation/Preparation";
@import "../components/MainScreen/MainScreen";
//adaptation
@import "../scss/App-adaptation";
@import "../components/MainScreen/adaptation/MainScreen-Mobile";
@import "../components/Game/adaptation/Game-Mobile";
@import "../components/Preparation/adaptation/Preparation-Mobile";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
